*.ipch
*.la
*.lo
*.o
*.sdf
*.stamp*
*.suo
*.swp
*.user
*~
.DS_Store
.deps
.libs
/INSTALL
/Makefile
/Makefile.in
/README
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.h
/config.h.in
/config.log
/config.status
/configure
/data/Makefile
/data/Makefile.in
/data/frida-data-agent-blob.S
/data/frida-data-agent.c
/data/frida-data-agent.h
/data/frida-data-agent.vapi
/ext/gum/
/inject/Makefile.in
/inject/frida-inject.h
/inject/frida-inject.vapi
/inject/inject.c
/lib/Makefile
/lib/Makefile.in
/lib/agent/Makefile
/lib/agent/Makefile.in
/lib/agent/agent-container.c
/lib/agent/agent.c
/lib/agent/frida-agent-container.h
/lib/agent/frida-agent-container.vapi
/lib/agent/frida-agent.h
/lib/agent/frida-agent.vapi
/lib/agent/script-engine.c
/lib/gadget/Makefile
/lib/gadget/Makefile.in
/lib/gadget/frida-gadget.h
/lib/gadget/frida-gadget.vapi
/lib/gadget/gadget.c
/lib/gadget/script-engine.c
/lib/interfaces/Makefile
/lib/interfaces/Makefile.in
/lib/interfaces/frida-interfaces.h
/lib/interfaces/frida-interfaces.vapi
/lib/interfaces/session.c
/lib/loader/Makefile
/lib/loader/Makefile.in
/lib/pipe/Makefile
/lib/pipe/Makefile.in
/lib/pipe/frida-pipe.h
/lib/pipe/frida-pipe.vapi
/lib/pipe/pipe.c
/lib/selinux/Makefile
/lib/selinux/Makefile.in
/libtool
/m4/libtool.m4
/m4/lt*.m4
/server/Makefile.in
/server/frida-server.h
/server/frida-server.vapi
/server/server.c
/src/Makefile
/src/Makefile.in
/src/darwin/darwin-host-session.c
/src/darwin/frida-helper-backend.c
/src/darwin/frida-helper-process.c
/src/darwin/frida-helper-service.c
/src/darwin/frida-helper-types.c
/src/darwin/fruitjector.c
/src/debugger.c
/src/droidy/droidy-client.c
/src/droidy/droidy-host-session.c
/src/frida-core.h
/src/frida-core.vapi
/src/frida-helper-backend.h
/src/frida-helper-backend.vapi
/src/frida-helper-service.h
/src/frida-helper-types.h
/src/frida-helper-types.vapi
/src/frida-helper.h
/src/frida-server
/src/frida.c
/src/fruity/fruity-client.c
/src/fruity/fruity-host-session.c
/src/fruity/fruity-property-list.c
/src/host-session-service.c
/src/linux/frida-helper-process.c
/src/linux/frida-helper-types.c
/src/linux/frida-helper.c
/src/linux/linjector.c
/src/linux/linux-host-session.c
/src/linux/supersu.c
/src/qnx/qinjector.c
/src/qnx/qnx-host-session.c
/src/server.c
/src/system.c
/src/tcp/tcp-host-session.c
/stamp-h1
/tests/Makefile
/tests/Makefile.in
/tests/async-harness.c
/tests/frida-tests
/tests/frida-tests.h
/tests/frida-tests.log
/tests/frida-tests.trs
/tests/frida-tests.vapi
/tests/labrats.c
/tests/labrats/*.db
/tests/labrats/*.opendb
/tests/labrats/*.pdb
/tests/labrats/build/
/tests/main.c
/tests/pipe/Makefile
/tests/pipe/Makefile.in
/tests/pipe/pipe-test
/tests/process.c
/tests/runner.c
/tests/test-agent.c
/tests/test-gadget.c
/tests/test-host-session.c
/tests/test-injector.c
/tests/test-suite.log
/tests/test-system.c
/tools/Makefile
/tools/Makefile.in
/tools/resource-compiler
/tools/resource-compiler.c
