*.ipch
*.sdf
*.suo
*.swp
*.user
*~
.DS_Store
/Makefile.in
/aclocal.m4
/autom4te.cache/
/build/frida-android
/build/frida-ios
/build/frida-linux-*
/build/frida-mac*
/build/frida-ps3
/build/sdk-android
/build/sdk-ios
/build/sdk-linux-*
/build/sdk-mac*
/build/sdk-ps3
/build/tmp-android
/build/tmp-ios
/build/tmp-linux-*
/build/tmp-mac*
/build/tmp-ps3
/build/toolchain
/config.guess
/config.h.in
/config.sub
/configure
/data/Makefile.in
/depcomp
/ext/libgum/
/install-sh
/lib/Makefile.in
/lib/agent/Makefile.in
/lib/interfaces/Makefile.in
/lib/pipe/Makefile.in
/ltmain.sh
/m4/libtool.m4
/m4/lt*.m4
/missing
/src/Makefile.in
/tests/Makefile.in
/tests/pipe/Makefile.in
/tools/Makefile.in
