*
{
  color: #616261;
}

MxIcon.ResizeGrip
{
  -mx-content-image: url('resize-grip.png');
}

MxButton
{
  -mx-border-image-transition-duration: 120;
  padding: 5 13 5 13;
  border-image: url("button.png") 11 5 13 5;
}

MxButton:disabled
{
  -mx-border-image-transition-duration: 0;
  border-image: url("button-disabled.png") 10;
  color: #adaead;
}

MxButton:hover
{
  -mx-border-image-transition-duration: 0;
  border-image: url("button-hover.png") 10;
}

MxButton:focus
{
  -mx-border-image-transition-duration: 0;
  border-image: url("button-focus.png") 10;
}

MxButton:active, MxButton:checked
{
  -mx-border-image-transition-duration: 0;
  padding: 6 13 4 13;
  border-image: url("button-active.png") 10;
}

MxEntry
{
  padding: 5;
  border-image: url("entry.png") 5;
}

MxEntry:focus
{
  border-image: url("entry-focus.png") 5;
}

MxEntry:hover
{
  border-image: url("entry-hover.png") 5;
}

MxEntry:indeterminate
{
  color: #8e8e8e;
}

MxEntry:disabled
{
  color: #adaead;
  border-image: url("entry-disabled.png") 5;
}

MxScrollView
{
  -mx-scrollbar-width: 22;
  -mx-scrollbar-height: 22;
}

MxButton.backward-stepper
{
  border-image: none;
  -mx-content-image: url("scroll-button-left.png");
}

MxButton.backward-stepper:hover
{
  -mx-content-image: url("scroll-button-left-hover.png") 5;
}

MxButton.backward-stepper:active
{
  -mx-content-image: url("scroll-button-left-active.png") 5;
}

MxButton.backward-stepper:disabled
{
  -mx-content-image: url("scroll-button-left-disabled.png") 5;
}

MxButton.forward-stepper
{
  border-image: none;
  -mx-content-image: url("scroll-button-right.png") 5;
}

MxButton.forward-stepper:hover
{
  -mx-content-image: url("scroll-button-right-hover.png") 5;
}

MxButton.forward-stepper:active
{
  -mx-content-image: url("scroll-button-right-active.png") 5;
}

MxButton.forward-stepper:disabled
{
  -mx-content-image: url("scroll-button-right-disabled.png") 5;
}

MxButton.up-stepper
{
  border-image: none;
  -mx-content-image: url("scroll-button-up.png") 5;
}

MxButton.up-stepper:hover
{
  -mx-content-image: url("scroll-button-up-hover.png") 5;
}

MxButton.up-stepper:active
{
  -mx-content-image: url("scroll-button-up-active.png") 5;
}

MxButton.up-stepper:disabled
{
  -mx-content-image: url("scroll-button-up-disabled.png") 5;
}

MxButton.down-stepper
{
  border-image: none;
  -mx-content-image: url("scroll-button-down.png") 5;
}

MxButton.down-stepper:hover
{
  -mx-content-image: url("scroll-button-down-hover.png") 5;
}

MxButton.down-stepper:active
{
  -mx-content-image: url("scroll-button-down-active.png") 5;
}

MxButton.down-stepper:disabled
{
  -mx-content-image: url("scroll-button-down-disabled.png") 5;
}

/* scroll bars */


MxScrollBar
{
  padding: 0;
}

MxScrollBar *.htrough
{
  border-image: url("scroll-hbackground.png") 5 5 7 5;
}

MxScrollBar *.vtrough
{
  border-image: url("scroll-vbackground.png") 5 5 7 5;
}

MxScrollBar *.htrough:disabled
{
  border-image: url("scroll-hbackground-disabled.png") 5 5 7 5;
}

MxScrollBar *.vtrough:disabled
{
  border-image: url("scroll-vbackground-disabled.png") 5 5 7 5;
}



MxScrollBar MxButton.vhandle
{
  border-image: url("scroll-vhandle.png") 5;
  padding: 0;
}

MxScrollBar MxButton.vhandle:hover
{
  border-image: url("scroll-vhandle-hover.png") 5;
}

MxScrollBar MxButton.vhandle:active
{
  border-image: url("scroll-vhandle-active.png") 5;
}

MxScrollBar MxButton.vhandle:disabled
{
  border-image: url("scroll-vhandle-disabled.png") 5;
}

MxScrollBar MxButton.hhandle
{
  border-image: url("scroll-hhandle.png") 5;
  padding: 0;
}

MxScrollBar MxButton.hhandle:hover
{
  border-image: url("scroll-hhandle-hover.png") 5;
}

MxScrollBar MxButton.hhandle:active
{
  border-image: url("scroll-hhandle-active.png") 5;
}

MxScrollBar MxButton.hhandle:disabled
{
  border-image: url("scroll-hhandle-disabled.png") 5;
}

/*
 * Expander
 */

MxExpander {
  font-weight: bold;
  border-image: url('expander-closed.png') 6;
  padding: 7 8;
}

MxExpander:hover {
  border-image: url('expander-closed-hover.png') 6;
}

MxExpander:active {
  border-image: url('expander-closed-active.png') 6;
}

MxExpander:disabled {
  color: #adaead;
  border-image: url('expander-closed-disabled.png') 6;
}


MxExpander.open-expander {
  border-image: url('expander-open.png') 31 5 7 5;
}

MxExpander.open-expander:hover {
  border-image: url('expander-open-hover.png') 31 5 7 5;
}

MxExpander.open-expander:active {
  border-image: url('expander-open-active.png') 31 5 7 5;
}

MxExpander.open-expander:disabled {
  color: #adaead;
  border-image: url('expander-open-disabled.png') 31 5 7 5;
}

MxExpander > MxIcon#mx-expander-arrow-closed {
    padding: 0;
    -mx-content-image: url('expander-arrow-up.png');
}

MxExpander > MxIcon#mx-expander-arrow-closed:hover {
    -mx-content-image: url('expander-arrow-up-hover.png');
}

MxExpander > MxIcon#mx-expander-arrow-closed:disabled {
    -mx-content-image: url('expander-arrow-up-disabled.png');
}

MxExpander > MxIcon#mx-expander-arrow-open {
    -mx-content-image: url('expander-arrow-down.png');
}

MxExpander > MxIcon#mx-expander-arrow-open:hover {
    -mx-content-image: url('expander-arrow-down-hover.png');
}
MxExpander > MxIcon#mx-expander-arrow-open:disabled {
    -mx-content-image: url('expander-arrow-down-disabled.png');
}

MxTooltip {
  color: white;
  padding: 4 10 12 10;
  border-image: url('tooltip-background.png') 4 11 12 11;
  font-size: 15;
}


MxProgressBar {
  border-image: url('progress-bar-background.png') 4 4 6 4;
}

MxProgressBar MxProgressBarFill {
  border-image: url('progress-bar-bar.png') 3;
  height: 16;
}

MxComboBox {
  padding: 5 13 5 13;
  border-image: url('combobox.png') 4 32 4 4;
  -mx-marker-image: url('combobox-marker.png');
  -mx-spacing: 13;
}

MxComboBox MxIcon {
  -mx-icon-size: 16;
}

MxComboBox:hover {
  border-image: url('combobox-hover.png') 4 32 4 4;
  -mx-marker-image: url('combobox-marker-hover.png');
}

MxComboBox:focus {
  border-image: url('combobox-focus.png') 4 32 4 4;
  -mx-marker-image: url('combobox-marker-hover.png');
}

MxComboBox:active {
  border-image: url('combobox-active.png') 4 32 4 4;
  -mx-marker-image: url('combobox-marker-active.png');
}

MxComboBox:disabled {
  border-image: url('combobox-disabled.png') 4 32 4 4;
  -mx-marker-image: url('combobox-marker-disabled.png');
  color: #adaead;
}

MxMenu {
  padding: 3 3 5 3;
  border-image: url('menu.png') 5;
}

MxMenu > MxBoxLayout {
  padding: 3;
  border-image: none;
}

MxMenu > MxBoxLayout:hover,
MxMenu > MxBoxLayout:active {
  border-image: url('menu-item.png') 2;
}

MxMenu > MxBoxLayout:hover > MxLabel,
MxMenu > MxBoxLayout:active > MxLabel {
  color: white;
}

MxMenu MxIcon {
  -mx-icon-size: 16;
}

MxToggle {
  background-image: url("toggle-background.png");
}

MxToggle:disabled {
  background-image: url("toggle-background-disabled.png");
}

MxToggle:checked {
  background-image: url("toggle-background-active.png");
}

MxToggleHandle {
  background-image: url("toggle-handle.png");
}

MxToggleHandle:active {
  background-image: url("toggle-handle-active.png");
}

MxToggleHandle:focus {
  background-image: url("toggle-handle-focus.png");
}

MxToggleHandle:hover {
  background-image: url("toggle-handle-hover.png");
}

MxToggleHandle:disabled {
  background-image: url("toggle-handle-disabled.png");
}



MxToolbar {
  border-image: url("toolbar-background.png") 0;
  padding: 16;
}

MxToolbar MxButton#close-button {
  -mx-icon-name: window-close;
  -mx-icon-size: 16;
  padding: 5 7 7 7;
}

MxToolbar MxButton#close-button:hover {
  -mx-icon-size: 16;
}

MxToolbar MxButton#close-button:active {
  -mx-icon-size: 16;
  padding: 5 7;
}

MxSlider {
  -mx-trough-height: 6;
}

MxSlider *#trough-background {
  border-image: url('slider-background.png') 2 3 3 3;
}

MxSlider *#trough-background:disabled {
  border-image: url('slider-background-disabled.png') 2 3 3 3;
}

MxSlider *#fill {
}

MxSlider > MxButton
{
  border-image: url("slider-handle.png") 4 5 6 5;
}

MxSlider > MxButton:hover
{
  border-image: url("slider-handle-hover.png") 4 5 6 5;
}

MxSlider > MxButton:active
{
  border-image: url("slider-handle-active.png") 4 5 6 5;
}

MxSlider > MxButton:disabled
{
  border-image: url("slider-handle-disabled.png") 4 5 6 5;
}

MxPathBar {
  -mx-overlap: 16;
}

MxPathBar > MxEntry {
  padding: 4 10 4 24;
}

MxPathBarButton
{
  border-image: url('pathbar-button.png') 3 14 4 5;
  padding: 4 24;
}

MxPathBarButton:hover
{
  border-image: url('pathbar-button-hover.png') 3 14 4 5;
  padding: 4 24;
}

MxPathBarButton:active
{
  border-image: url('pathbar-button-active.png') 4 13 4 4;
  padding: 4 24;
}

MxPathBarButton:focus
{
  border-image: url('pathbar-button-focus.png') 4 14 6 5;
  padding: 4 24;
}

MxPathBarButton:disabled
{
  border-image: url('pathbar-button-disabled.png') 4 14 6 5;
  padding: 4 24;
}

MxPathBarButton.End
{
  border-image: url('pathbar-button-last.png') 5;
}

MxPathBarButton.End:hover
{
  border-image: url('pathbar-button-last-hover.png') 5;
}

MxPathBarButton.End:active
{
  border-image: url('pathbar-button-last-active.png') 5;
}

MxPathBarButton.End:focus
{
  border-image: url('pathbar-button-last-focus.png') 5;
}

MxPathBarButton.End:disabled
{
  border-image: url('pathbar-button-last-disabled.png') 5;
}

MxButton.check-box {
  padding: 9;
  border-image: url('checkbox-background.png') 5;
}

MxButton.check-box:focus {
  border-image: url('checkbox-background-focus.png') 5;
}

MxButton.check-box:hover,
MxButton.check-box:active {
  padding: 9;
  border-image: url('checkbox-background-hover.png') 5;
}

MxButton.check-box:disabled {
  padding: 9;
  border-image: url('checkbox-background-disabled.png') 5;
}

MxButton.check-box:checked {
  padding: 9;
  background-image: url('checkbox-check.png');
  border-image: url('checkbox-background.png') 5;
}

MxDialog {
  padding: 20;
  -mx-spacing: 12;
  background-color: #000000a0;
}

MxDialog > MxFrame.MxDialogBackground {
  padding: 20;
  border-image: url('frame-background.png') 8 9 10;
}

MxDialog > MxBoxLayout.MxDialogButtonBox {
  -mx-spacing: 6;
}

MxSpinner {
  -mx-spinner-image: url('spinner.png');
  -mx-spinner-frames: 12;
}
