{
  "connection": {
    "host": "127.0.0.1",
    "port": 9000
  },
  "allocator": {
    "mode": "physical",
    "physical_base": "0x8ec9b4000"
  },
  "agent": {
    "path": "/home/oleavr/src/frida-core/src/barebone/agent/target/aarch64-unknown-none/release/frida-barebone-agent",
    "transport": {
      "type": "ram",
      "path": "/tmp/ios-dram",
      "base_address": "0x800000000"
    }
  }
}
