{
  "connection": {
    "host": "127.0.0.1",
    "port": 9000
  },
  "allocator": {
    "mode": "target-functions",
    "alloc_function": "0xfffffff007a3c278",
    "free_function": "0xfffffff007a3c338"
  },
  "agent": {
    "path": "/Users/oleavr/src/frida-core/src/barebone/agent/target/aarch64-unknown-none/debug/frida-barebone-agent",
    "transport": {
      "type": "ram",
      "path": "/Volumes/RAM Disk/ios-dram",
      "base_address": "0x800000000"
    }
  }
}
